[Desktop Entry]
Comment=A utility For gamers to install gaming stuff
Encoding=UTF-8
Exec=garuda-gamer
Icon=garuda-gamer
Name=Garuda Gamer
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
TryExec=garuda-gamer
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
