[Desktop Entry]
Comment=Display welcome message
Encoding=UTF-8
Exec=garuda-welcome
Icon=garuda-welcome
Name=Garuda Welcome
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
TryExec=garuda-welcome
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
