[Desktop Action Base]
Exec=libreoffice --base
Name=Base

[Desktop Action Calc]
Exec=libreoffice --calc
Name=Calc

[Desktop Action Draw]
Exec=libreoffice --draw
Name=Draw

[Desktop Action Impress]
Exec=libreoffice --impress
Name=Impress

[Desktop Action Math]
Exec=libreoffice --math
Name=Math

[Desktop Action Writer]
Exec=libreoffice --writer
Name=Writer

[Desktop Entry]
Actions=Writer;Calc;Impress;Draw;Base;Math;
Comment[en_US]=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Exec=libreoffice %U
GenericName[en_US]=Office
GenericName=Office
Icon=libreoffice-startcenter
MimeType=application/vnd.openofficeorg.extension;x-scheme-handler/vnd.libreoffice.cmis;
Name=LibreOffice
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=libreoffice-startcenter
Terminal=0
TerminalOptions=
TryExec=libreoffice
Type=Application
Version=1.0
X-GIO-NoFuse=true
X-KDE-Protocols=file,http,ftp,webdav,webdavs
X-KDE-SubstituteUID=false
X-KDE-Username=
