[Desktop Action new-private-window]
Exec=/usr/lib/librewolf/librewolf --private-window %u
Name[en_US]=New Private Window
Name=New Private Window

[Desktop Action new-window]
Exec=/usr/lib/librewolf/librewolf --new-window %u
Name[en_US]=New Window
Name=New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Comment=Browse the World Wide Web
Exec=/usr/lib/librewolf/librewolf %u
GenericName=Web Browser
Icon=librewolf
Keywords=Internet;WWW;Browser;Web;Explorer
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Name=LibreWolf
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=LibreWolf
Terminal=0
TerminalOptions=
TryExec=librewolf
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
