[Desktop Entry]
Comment=Nonlinear video editor by KDE
Exec=kdenlive %F
GenericName=Video Editor
Icon=kdenlive
Keywords=editing;video;audio;mlt;kde;
MimeType=application/x-kdenlive;
Name=Kdenlive
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=kdenlive
Terminal=0
TerminalOptions=
TryExec=kdenlive
Type=Application
X-DBUS-ServiceName=org.kde.kdenlive
X-DocPath=kdenlive/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
