[Desktop Entry]
Comment=Free space and maintain privacy
Exec=bleachbit
GenericName=Unnecessary file cleaner
Icon=bleachbit
Keywords=cache;clean;free;performance;privacy;
Name=BleachBit
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
TryExec=bleachbit
Type=Application
Version=1.1
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
