[Desktop Entry]
Comment=Monitor running processes and system performance
Exec=ksysguard %U
GenericName=System Monitor
Icon=utilities-system-monitor
MimeType=application/x-ksysguard;
Name=KSysGuard
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
TryExec=ksysguard
Type=Application
X-DBUS-ServiceName=org.kde.ksysguard
X-DBUS-StartupType=Multi
X-DocPath=ksysguard/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
