[Desktop Entry]
Comment=Make all your devices one
Exec=kdeconnect-app
GenericName=Device Synchronization
Icon=kdeconnect
Name=KDE Connect
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
TryExec=kdeconnect-app
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
