[Desktop Action updates]
Exec=pamac-manager --updates
Name=Software Update

[Desktop Entry]
Actions=updates;
Comment=Add or remove software installed on the system
DBusActivatable=true
Exec=pamac-manager %U
Icon=system-software-install
MimeType=x-scheme-handler/appstream;x-scheme-handler/snap;
Name=Add/Remove Software
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=pamac-manager
Terminal=0
TerminalOptions=
TryExec=pamac-manager
Type=Application
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
