[Desktop Action New]
Exec=alacritty
Name=New Terminal

[Desktop Entry]
Actions=New;
Categories=System;TerminalEmulator;
Comment=A cross-platform, GPU enhanced terminal emulator
Exec=alacritty
GenericName=Terminal
Icon=gksu-root-terminal
Name=Alacritty
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=Alacritty
Terminal=0
TerminalOptions=
TryExec=alacritty
Type=Application
X-Desktop-File-Install-Version=0.26
X-KDE-SubstituteUID=false
X-KDE-Username=
