[Desktop Entry]
Categories=Qt;Development;Documentation;
Comment=Shows Qt documentation
Exec=assistant
Icon=assistant
Name=Qt Assistant
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
