[Desktop Action new-private-window]
Exec=GTK_USE_PORTAL=1 /usr/lib/firedragon/firedragon --private-window %u
Name[en_US]=New Private Window
Name=New Private Window

[Desktop Action new-window]
Exec=GTK_USE_PORTAL=1 /usr/lib/firedragon/firedragon --new-window %u
Name[en_US]=New Window
Name=New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment=Browse the World Wide Web
Exec=GTK_USE_PORTAL=1 /usr/lib/firedragon/firedragon %u
GenericName=Web Browser
Icon=firedragon
Keywords=Internet;WWW;Browser;Web;Explorer
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Name=FireDragon
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=FireDragon
Terminal=0
TerminalOptions=
TryExec=firedragon
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
