[Desktop Entry]
Categories=GNOME;GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Comment=Eine einfache Möglichkeit Ihre Firewall zu konfigurieren
Exec=gufw
GenericName=Die Firewall managen
Icon=gufw
Keywords=gufw;security;firewall;network;
Name[de_DE]=Firewall-Konfiguration
Name=Firewall Configuration
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-GNOME-Settings-Panel=gufw
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Gettext-Domain=gufw
X-Unity-Settings-Panel=gufw
