[Desktop Entry]
Categories=Qt;KDE;Development;
Comment=
Exec=kompare -o %U
GenericName=Diff/Patch Frontend
Icon=5961_Defunct_x86.0
InitialPreference=10
MimeType=text/x-patch;
Name=Kompare
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=kompare
Terminal=0
TerminalOptions=
Type=Application
X-DocPath=kompare/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
