[Desktop Entry]
Categories=Network;FileTransfer;P2P;Qt;
Exec=qbittorrent %U
GenericName=BitTorrent client
Icon=ktorrent
Keywords=bittorrent;torrent;magnet;download;p2p;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Name=qBittorrent
NoDisplay=false
Path[$e]=
StartupNotify=false
StartupWMClass=qbittorrent
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
