[Desktop Entry]
Categories=AudioVideo;
Comment=Viewer for video capture
Exec=qvidcap
Icon=qv4l2
Keywords=video;grabber;V4L;
Name=Qt V4L2 video capture utility
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
