[Desktop Entry]
Categories=System
Comment=A simple GUI for 'reflector'
Encoding=UTF-8
Exec=/usr/bin/reflector-simple
Hidden=false
Icon=yast-online_update
Name=Reflector Simple
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-GNOME-Autostart-enabled=true
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-after=panel
