[Desktop Entry]
Categories=System
Comment=
Exec=sh -c 'env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY /usr/bin/wihotspot'
Icon=wifi-radar
Keywords=Hotspot;WiFi
Name=Wifi Hotspot
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
