[Desktop Entry]
Comment=Plasma with Sweet theme & a lot of blur
Name=Dr460nized Plasma
X-KDE-PluginInfo-Author=dr460nf1r3
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=dr460nf1r3@garudalinux.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Dr460nized Plasma
X-KDE-PluginInfo-Version=2
X-KDE-PluginInfo-Website=https://dr460nf1r3.me
X-KDE-ServiceTypes=Plasma/LookAndFeel
