[Desktop Entry]
Comment=Sweetified, clean Plasma
Name=Sweetified Plasma
X-KDE-PluginInfo-Author=dr460nf1r3
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=njcrypted@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Sweetified Plasma
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://garudalinux.org
X-KDE-ServiceTypes=Plasma/LookAndFeel
